$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$brand-primary:         #FC4C02;
$brand-info:            #aaaaaa;
$grid-gutter-width:     10px;
// $brand-success:         #5cb85c !default;
// $brand-warning:         #f0ad4e !default;
// $brand-danger:          #0000ff;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Workout progress bars */
.workouts {
  @include make-row();
}

@mixin workout {
  @include make-xs-column(4);

  div {
    background-color: $gray-lighter;
    font-size: $font-size-small;
    height: 4em;
    padding: 6px;
  }
}

.complete {
  @include workout;
  color: #fff;

  div {
    background-color: $brand-primary;

    strong {
      white-space: nowrap;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      font-size: $font-size-base;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.incomplete {
  @include workout;
}